html, body {
    height: 100%;
    font-family: 'Impact', 'Arial', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    overflow: hidden;
}

button {
    background-color: rgb(57 57 255);
    border: 0;
    color: white;
    font-size: 1.1rem;
    font-family: 'Impact';
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
}

button:active {
    top: 3px;
}

img {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    transition: ease-in .3s opacity;
    padding: 5%;
    box-sizing: border-box;
}



.svin, #number {
    display: inline-block;
}

.title {
    text-align: center;
    transform: translateY(-30vw);
    transition: 1s all linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
}

.svin {
    max-width: 15rem;
    transform: translateX(-100vw);
    transition: 1s all linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
}

.svin#pressed {
    animation: 1.5s ease-in-out k;
    transform-origin: bottom;
}

.center {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100%;
    transform: translateX(-10px);
}

#number {
    font-size: 2em;
    transform: translateX(100vw);
    transition: 1s all linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
}

.button {
    transform: translateY(-200vw);
    transition: 1s all linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
}

a, .button {
    display: inline-block;
    background-color: rgb(57 57 255);
    border: 0;
    color: white;
    font-size: 1.1rem;
    font-family: 'Impact';
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0;
  }

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(27, 27, 27);
        color: rgb(235, 235, 235);
    }
}

@keyframes k {
    0% {
        transform: scale(1, 1);
    }
    16% {
        transform: scale(1.1, 0.9);
    }
    32% {
        transform: scale(0.9, 1.1) skew(15deg);
    }
    48% {
        transform: scale(1.1, 0.9);
    }
    64% {
        transform: scale(0.9, 1.1) skew(-15deg);
    }
    78% {
        transform: scale(1.1, 0.9);
    }
    100% {
        transform: scale(1, 1);
    }
}

@font-face {
  font-family: "Impact"; 
  src: url("Impact.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 
